<%= render :partial => 'spree/admin/shared/configuration_menu' %>
<% origin = JSON.parse(Spree::Config.avatax_origin) || {} %>
<h1><%= "Avalara Settings" %></h1>

<table>
  <tr>
    <th scope="row"><%= t("avatax_company_code") %>:</th>
    <td><%= Spree::Config.avatax_company_code %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("avatax_license_key") %>:</th>
    <td><%= Spree::Config.avatax_license_key %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("avatax_account") %>:</th>
    <td><%= Spree::Config.avatax_account %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("avatax_endpoint") %>:</th>
    <td><%= Spree::Config.avatax_endpoint %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("avatax_servicepath_tax") %>:</th>
    <td><%= AVATAX_SERVICEPATH_TAX %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("avatax_servicepath_address") %>:</th>
    <td><%= AVATAX_SERVICEPATH_ADDRESS %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("enable_avatax") %>:</th>
    <td><%= Spree::Config.avatax_iseligible %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("enable_avatax_logging") %>:</th>
    <td><%= Spree::Config.avatax_log %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("enable_avatax_address_validation") %>:</th>
    <td><%= Spree::Config.avatax_address_validation %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("avatax_address_validation_enabled_countries") %>:</th>
    <% address_validated_countries = Spree::Config.avatax_address_validation_enabled_countries %>
    <td>
      <% unless address_validated_countries.nil? %>
      <ul style="list-style: inside;">
        <% address_validated_countries.each do |country| %>
        <li><%= Spree::Country.find_by_name(country) %></li>
        <% end %>
      </ul>
      <% end %>
    </td>
  </tr>
  <tr>
    <th scope="row"><%= t("enable_avatax_tax_calculation") %>:</th>
    <td><%= Spree::Config.avatax_tax_calculation %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("enable_avatax_document_committing") %>:</th>
    <td><%= Spree::Config.avatax_document_commit %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("client_version") %>:</th>
    <td><%= AVATAX_CLIENT_VERSION %></td>
  </tr>

  <tr>
    <th scope="row"><%= t("business_address") %>:</th>

    <td><table>
      <tr><td><%= Spree.t("address1") %>: <%= origin["Address1"]  %> </td></tr>
      <tr><td><%= Spree.t("address2") %>: <%= origin["Address2"]  %></td></tr>
      <tr><td><%= Spree.t("city") %>: <%= origin["City"]  %></td></tr>
      <tr><td><%= Spree.t("state") %>: <%= origin["Region"]  %></td></tr>
      <tr><td><%= Spree.t("zipcode") %>: <%= origin["Zip5"]  %></td></tr>
      <tr><td><%= t("zip_plus_4") %>: <%= origin["Zip4"] %></td></tr>
      <tr><td><%= t("country_code") %>: <%= origin["Country"] %></td></tr>
    </table></td>
  </tr>
  <tr>
    <th>Connection Status</th>
    <td>
      <%= link_to({:controller => :avatax_settings, :action => :ping_my_service, :remote => true }, {:class => 'btn btn-small'}) do %>
      <button>Test Connection</button> <% end %>
    </td>

  </tr>



  <tr>
   <th>View Log Files</th>
   <td>
    Log files are located in the log directory of your spree website.
    <table>
      <tr>
        <td>Tax Service calls - tax_svc.log</td>
        <td><%= link_to("Download", {controller: :avatax_settings, action: :get_file_txt_tax_svc}) %>
        </td>
      </tr>
      <tr>
        <td>Avalara Function calls -  post_order_to_avalara.log</td>
        <td><%= link_to("Download", {controller: :avatax_settings, action: :get_file_post_order_to_avalara}) %>
        </td>
      </tr>
      <tr>
        <td>Spree Order Item integration calls - avalara_order.log</td>
        <td><%= link_to("Download", {controller: :avatax_settings, action: :get_file_avalara_order}) %>
        </td>
      </tr>
    </table>
  </td>
</tr>
</table>

<p><%= link_to_with_icon 'edit', Spree.t("edit"), edit_admin_avatax_settings_path %></p>