<div>
  <div class="form-group">
    <%= f.field_container :use_code do %>
      <%= f.label :use_code %>
      <%= f.text_field :use_code, class: 'form-control' %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.field_container :use_code_description do %>
      <%= f.label :use_code_description %>
      <%= f.text_field :use_code_description, class: 'form-control' %>
    <% end %>
  </div>
</div>
